flask==3.1.1
flask-socketio==5.3.4
flask-cors==3.0.10
qwen-omni-utils
librosa==0.10.0.post2
numpy==1.25.2
typing-extensions==4.7.1
python-socketio==5.9.0
python-engineio==4.9.0
eventlet==0.33.3
aiohttp==3.8.5
requests==2.31.0
soundfile==0.12.1
scipy==1.11.1
eventlet>=0.33.0
pydub
webrtcvad-wheels
